<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1>FlexShop</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contact</a>

        </nav>
    </header>

    <section class="hero">
        <div class="left_content">
            <h1>Modren Flex Layout</h1>
            <p>Learn CSS Flexbox with real-time applications. Flexbox helps to create responsive layouts easily and professionally.</p>
            <button>Eplore Now</button>
        </div>
        <div class="right_image">
            <img src="https://picsum.photos/300/200" alt="Hero_image">
        </div>
    </section>

    <!--CARDS-->

    <section class="card_section">
       <div class="cards">
         <div class="card">
            <img src="https://picsum.photos/300/200" alt="card_Image-1">
            <h2>Headphones</h2>
            <p>Premium quality sound with modern design.</p>
            <button>Buy Now</button>
        </div>
       <div class="card">
            <img src="https://picsum.photos/300/200" alt="card_Image-1">
            <h2>Headphones</h2>
            <p>Premium quality sound with modern design.</p>
            <button>Buy Now</button>
        </div>
         <div class="card">
            <img src="https://picsum.photos/300/200" alt="card_Image-1">
           <div class="card_content">
            <h2>Headphones</h2>
            <p>Premium quality sound with modern design.</p>
            <button>Buy Now</button>
           </div>
        </div>
       </div>
    </section>
</body>
</html>